$yelow: #cad61e;
$red: #d9210d;
$green: #28d622;

@mixin margenes($margin, $padding, $color){
  margin: $margin;
  padding: $padding;
  color: $color;
}

.main-title{
  @include margenes( 15px 5px, 0px, $red );
}
.card-title{ color: $green; }


.main-container{ margin-top: 80px; }
p{color: #ccc;}
h3{color: $green;}
.productos-container{ margin-bottom: 3em;}
.productos-container h3{ color: $green; }
footer a{ margin-right: 2em; }

.carousel-control-next, .carousel-control-prev{
  color: white; font-size: 3em;

}
.carousel-control-next .oi, .carousel-control-prev .oi{
  border-radius: 50%; background: rgba(0, 0, 0, 0.5); padding: 10px;
}
