.main-container{ margin-top: 80px; }
p{color: #ccc;}
h3{color: darkblue;}
.productos-container{ margin-bottom: 3em;}
.productos-container h3{ color: darkgreen; }
footer a{ margin-right: 2em; }

.carousel-control-next, .carousel-control-prev{
  color: white; font-size: 3em;

}
.carousel-control-next .oi, .carousel-control-prev .oi{
  border-radius: 50%; background: rgba(0, 0, 0, 0.5); padding: 10px;
}
